:host {
  --p-editor-toolbar-background: #f0f0f0; /* Cabeçalho */
  --p-editor-toolbar-border-color: #f70c0c; /* Borda cabeçalho */
  --p-editor-toolbar-border-radius: 8px; /* Exemplo de novo raio de borda */
  --p-editor-toolbar-item-color: #000000; /* Exemplo de nova cor de item */
  --p-editor-toolbar-item-hover-color: #f50f0f; /* Exemplo de nova cor de item ao passar o mouse */
  --p-editor-toolbar-item-active-color: #007bff; /* Exemplo de nova cor de item ativo */
  --p-editor-content-background: #f00808; /* Fundo onde escreve */
  --p-editor-content-border-color: #dcdcdc; /* Borda cinza claro para o conteúdo */
  --p-editor-content-color: #e9da04; /* Cor do texto do conteúdo em cinza escuro */
  --p-editor-content-border-radius: 4px; /* Raio de borda do conteúdo */
}
