html,body {
  margin: 0; /* Retira espaçamento padrao do angular */
  font-family: Inter, sans-serif; /* Define a font de todo o projeto  */
  background-color: #fff9f8;
  scroll-behavior: auto;
  height: 100%;
  padding: 0;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
