 body { 
    margin: 0; /* Retira espaçamento padrao do angular */
    font-family: Inter, sans-serif; /* Define a font de todo o projeto  */
    background-color: #FFF9F8;
    scroll-behavior: auto;
}  
