<main id="main" class="borda0" >

    <div id="main-div" class="borda0" [ngClass]="{'embassado': mostraConfirmacao}">

      <table class="borda0">

          <thead id="thead">
              <tr id="thead" class="borda0">
                  <th id="mural" class="borda0" colspan="5">Envie seu relato</th>
              </tr>
              
          </thead>

          <tbody class="borda0">

            <tr>
              <td colspan="5" class="borda0">
                <form >
                  <textarea #relatoText type="text" id="relato" name="text" [(ngModel)]="relato.conteudo" required placeholder="Escreva seu relato" ></textarea>
                  <button type="button" id="relatoButton" (click)="relatoConfirmacao()">Publicar</button>
                </form>
              </td>
            </tr>

          </tbody>
          
      </table>

      
    </div>
    
    <div *ngIf="mostraConfirmacao" class="confirmation-div">
      <p>{{ mensagem }}</p>
      <button type="button" id="relatoButton" [innerText]="textoBotao" (click)="eventoBotao()"></button>
    </div>

</main>

<!--   -->