.borda1 {
    border: 1px solid #000;
}

.borda3 {
    border: 5px solid #000;
}

.borda2 {
    border: 5px solid #fd0505;
}

#main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#relatos {
    height: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bodycard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sem-relatos {
    color: #000;
    font-size: 27.65px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    opacity: 40%;

}

header {
    text-align: center;
    padding: 0.5em;
}

#buscar {
    display: flex;
    justify-content: flex-start;
    padding: 10px 10px 10px 194px;
}

button {
    background-color: rgba(255, 90, 90, 0.8);
    border: none;
    padding: 1em 2em;
    height: 35px;
    font-size: 16px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    display: flex;
    cursor: pointer;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: rgba(255, 100, 100, 1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: rgba(255, 100, 110, 0.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.grid-relatos {
    display: grid;
    grid-template-columns: repeat(auto-fit, 287px);
    gap: 20px;
    width: 100%;
    max-width: 1515px; /* Ajuste este valor conforme necessário */
    margin-top: 20px;
}


.relatos-conteudo {
    word-wrap: break-word; /* Para quebrar palavras longas */
    overflow-wrap: break-word; /* Para compatibilidade com navegadores */
    white-space: normal; /* Para permitir quebras de linha */
    max-height: 100px; /* Defina uma altura máxima se necessário */
    overflow: auto; /* Para permitir rolagem se o conteúdo exceder a altura */
    padding: 1rem; /* Adiciona um pouco de espaço interno */
  }

.title{
    text-align: center;
    font-size: 33.18px;
    margin-top: 10px;
    color: #FF6E6E;
}


/* Button Styles */
:host { 
--p-surface-0: #575757;    /* Cor da letra */
--p-card-background: #fff; /* backgraound */
--p-card-border-radius: var(--p-content-border-radius);
--p-card-color: var(--p-content-color);
--p-card-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
--p-card-body-padding: 1.5rem;
--p-card-body-gap: 0.75rem;
--p-justify-content: space-between;
--p-card-display: flex;
}