.borda1 {
    border: 1px solid #000;
}

.borda3 {
    border: 5px solid #000;
}

.borda2 {
    border: 5px solid #fd0505;
}

#main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#relatos {
    height: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bodycard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sem-relatos {
    color: #000;
    font-size: 27.65px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    opacity: 40%;

}

header {
    text-align: center;
    padding: 0.5em;
}

#buscar {
    display: flex;
    justify-content: flex-start;
    padding: 10px 10px 10px 194px;
}

button {
    background-color: rgba(255, 90, 90, 0.8);
    border: none;
    padding: 1em 2em;
    height: 35px;
    font-size: 16px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    display: flex;
    cursor: pointer;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: rgba(255, 100, 100, 1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: rgba(255, 100, 110, 0.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.grid-relatos {
    display: grid;
    grid-template-columns: repeat(auto-fit, 287px);
    gap: 20px;
    width: 100%;
    max-width: 1515px; /* Ajuste este valor conforme necessário */
    margin-top: 20px;
}
.title{
    text-align: center;
    font-size: 33.18px;
    margin-top: 10px;
    color: #FF6E6E;
}

.card-relato {
    padding: 15px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    background-color: bisque;
    border: 1px solid rgb(189, 189, 189);
}

.card-relato:hover {
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(71, 66, 66);
}

.card-relato-usuario {
    display: flex;
    justify-content: flex-start;
}

