
<main id="main">

    <div id="main-div" class="borda0">

      <table class="borda0">
        
          <thead id="thead">

              <tr id="thead" class="borda0">
                  <th id="mural" class="borda0" colspan="5">Mural de Força</th>
              </tr>

              <tr id="intervalo" class="borda0">
                <th class="borda0" colspan="5">
                    <label for="inicio">De:</label>
                    <input type="date" id="inicio" name="inicio">
                    <label for="fim">Até:</label>
                    <input type="date" id="fim" name="fim">
                    <a href="{% url 'dama:relato' %}"><button id="filtroButton">Envie sua história</button></a>
                </th>
            </tr>

          </thead>

          <tbody class="borda0">

            <tr>
                <td class="coluna-1" data-column="1">

                    <div class="borda0 div-texto">
                        <p></p>
                    </div>

                    <div class ="borda div-info">

                        <div class="borda0 div-usuario">
                            <p></p>
                        </div>

                        <div class="borda0 div-date">
                            <br><p></p>
                        </div>

                    </div>

                </td>
            </tr>

          </tbody>

      </table>

    </div>

</main>