<app-header></app-header>


<main id="main">

    <section class="">

        <div>
            <header class="title">
                <h1>Mural de Força</h1>
            </header>
        </div>

        <div id="buscar">
            <button routerLink="/relato" routerLinkActive="router-link-active" >Publicar um Relato</button>
        </div>

        <div id="relatos" class="">
            <ng-container *ngIf="relatos && relatos.length > 0; else semRelatos">
              <div class="grid-relatos">
                <div class="card-relato fora" *ngFor="let relato of relatos">
                  <p>"{{ relato.conteudo | truncate:250 }}"</p>
                </div>
              </div>
            </ng-container>
            
            <ng-template #semRelatos>
              <div class="bodycard">
                <div class="sem-relatos">
                  <p>Nenhum relato publicado ainda.</p>
                </div>
              </div>
            </ng-template>
          </div>

    </section>

</main>