<app-header></app-header>


<main id="main">

    <section class="">

        <div>
            <header class="">
                <h1>Mural de Força</h1>
            </header>
        </div>

        <div id="buscar">
            <button>Publicar um Relato</button>
        </div>

        <div id="relatos" class="">
    
            <div class="card-relato fora" *ngFor="let relato of relatos">
                     <p>"{{ relato.conteudo | truncate:4}}"</p>
            </div>
    
        </div>

    </section>

</main>