<h1>Lista de Usuários</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Tipo de Conta</th>
      <th>Contato</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.nome }}</td>
      <td>{{ user.tipoConta }}</td>
      <td>{{ user.contato }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button (click)="deleteUser (user.id)" class="delete-button">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>