* {
    margin: 0;
    box-sizing: border-box;
}

label {
    user-select: none;
}

main {
    width: 100%;
    max-width: 1366px;
    text-align: center;
}

.div-form {
    height: auto; /* A div-form agora ocupa 100% da altura do main */
    width: 50%;
    border: 2px solid rgb(239, 210, 214);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

form {
    width: 100%;
    height: 100%;
    padding: 15px 70px;  
    text-align: left;   
}

form h1 {
    margin-bottom: 5px;
    text-align: center;
}

input[type='text'], input[type='password'], input[type='email'], input[type='tel'], textarea {
    margin-bottom: 5px;
    width: 100%;
    height: 25px;
}

textarea {
    height: auto; /* Ajusta a altura do textarea */
}

button {
    background-color: rgba(255, 90, 90, 1);
    border: none;
    padding: 5px 20px;
    margin: 4px 2px;
    height: 45px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: 60px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: rgba(255, 100, 100, 1);
}

button:active {
    opacity: 0.8;
}

#submeter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.hidden {
    display: none;
}

/* Estilos adicionais para o modal de cadastro */
.cadastrado {
    height: 38%;
    width: 35%;
    z-index: 99999;
    display: block;
    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -45%);
    border: 2px solid rgb(239, 210, 214);
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    background-color: rgba(240, 229, 223, 1);
    padding-top: 55px;
}

.cadastrado-janela {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadastrado > div {
    text-align: center;
    padding-bottom: 10px;
}

#cadastrado > div h1 span {
    cursor: pointer;
    user-select: none;
}