<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/login-main.css" />
    <link rel="stylesheet" href="css/footer.css" />

    <!-- GOOGLE FONT -->

    <!-- GOOGLE FONT -->

    <title>Login</title>
  </head>

  <body>
    <header class="borda0 header">
      <div class="borda0 header-div header-div-left">
        <img src="images/logo-dama.png" alt="logomarca do Dama" />
      </div>
      <nav class="borda0 header-nav">
        <ul>
          <li><a href="#main">Home</a></li>
          <li><a href="#main-div2">Quem Somos</a></li>
          <li><a href="#main-div3">Conheça seus direitos</a></li>
          <li><a href="#redes">Rede de apoio</a></li>
          <li><a href="#main">Denunciar</a></li>
        </ul>
      </nav>
      <div class="borda0 header-div-right">
        <button class="button-header" onclick="Login()">Login</button>
        <button class="button-header" onclick="criarConta()">Criar Conta</button>
      </div>
    </header>

    <main id="main" class="borda0">
      <div class="div-form">
        <form class="borda0 form" action="#" method="get" name="cadastro">
          <h1>Login</h1>
          <div id="nome-form" class="div-form-div">
              <label for="nome">Nome do Usuario</label>
              <input type="text" id="nome" name="nome" placeholder="Nome de usuário no DAMA" onfocus="removePlaceholder(this.id)" onblur="addPlaceholder(this.id)">
          </div>
          <div id="senha-form" class="div-form-div">
            <label for="senha">Senha</label>
            <div>
              <input type="password" id="senha" name="senha" placeholder="Digite sua senha"  onfocus="removePlaceholder(this.id)" onblur="addPlaceholder(this.id)">
              <span id="olho" class="visibilidade-senha" onclick="visibilidadeSenha('senha')">👁️</span>
            </div>  
          </div>

          <div id="sem-conta" class="div-form-div">
            <p>Não tem conta no DAMA? <span onclick="criarConta()">Crie uma aqui!</span></p>
          </div>

          <div id="submeter" class="borda2">
            <div id="cancelar" class="borda1">
            </div>
            <div id="criar" class="borda1">
              <button id="entrar" class="button-form" onclick="confirmar()">Entrar</button>
            </div>
          </div>
          
        </form>
      </div>
    </main>

    <div id="logado" class="oculto borda1">
        <p>Bem vinda(o) ao DAMA, <span id="nome-usuario"></span>! </p>
    </div>

    <footer class="borda0">
      <div class="footer-div footer-div-left borda0">
          <p>emergencia?</p>
          <h1><span>ligue 180</span></h1>
      </div>
      <div class="footer-div footer-div-center borda0">
        <div class="footer-div-center-top borda0" >
            <h1>Ajuda</h1>
        </div>

        <div class="footer-div-center-bottom borda0">
          <p><a href="#">Sobre nós</a></p>
          <p><a href="#">Seja apoiador</a></p>
          <p><a href="#">Seja voluntário</a></p>
          <p><a href="#">Conheça seus direitos</a></p>
        </div>

      </div>

      <div class="footer-div footer-div-right borda0">
        <img src="images/logo_rn.png" alt="">
      </div>
  </footer>

    <script src="js/muda_janela.js"></script>
    <script src="js/login.js"></script>
  </body>
</html>
