<header class="borda0 header">
    <div class="borda0 header-div-left">
        <a routerLink="/">
            <img id="logo-img" src="assets/img/logo-dama.png" alt="logo do DAMA"/>
        </a>
    </div>
    <nav class="borda0 header-nav">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/quem-somos">Quem somos</a></li>
            <li><a routerLink="/materiais">Materiais educativos</a></li>
            <li><a routerLink="/direitos">Conheça seus direitos</a></li>
        </ul>
    </nav>
    <button id="btn-cadastro" class="button-header" routerLink="/cadastro">Cadastre-se</button>
    <div class="borda0 header-div-right">
        <button id="header-login" class="button-header" routerLink="/entrar">Entrar</button>
    </div>
</header>
        
        