<header class="borda0 header">
    <div class="borda0w header-div header-div-left">
        <a routerLink="/">
            <img id="logo-img" src="assets/img/logo-dama.png" alt="logo do DAMA"/>
        </a>
    </div>
    <nav class="borda0 header-nav">
        <ul>
            <li><a routerLink="/"">Home</a></li>
            <li><a routerLink="/quem-somos"sobre">Quem somos</a></li>
            <li><a routerLink="/materiais"sobre">Materiais educativos</a></li>
            <li><a routerLink="/direitos"sobre">Conheça seus dirweitos</a></li>
        </ul>
    </nav>
    <button id="bttdenuncia" class="button-header" routerLink="/cadastro">Cadastre-se</button>
    <div class="borda0w header-div-right">
        <button id="header-login" class="button-header" routerLink="/entrar">Entrar</button>
    </div>
</header>
        
        